.h1_fs {
  font-size: 60px;
}

.h2_fs {
  font-size: 50px;
}

.h3_fs {
  font-size: 60px;
}

.h4_fs {
  font-size: 45px;
}

.h5_fs {
  font-size: 30px;
}

.h6_fs {
  font-size: 25px;
}

.h7_fs {
  font-size: 20px;
}

.h8_fs {
  font-size: 18px;
}

.h9_fs {
  font-size: 16px;
}

.h10_fs {
  font-size: 14px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-rigth {
  text-align: right;
}

.p-relative {
  position: relative;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.py-10 {
  padding: 10px 0;
}

.pt-5 {
  padding-top: 5px;
}

.py-30 {
  padding: 30px 0;
}

.my-10 {
  margin: 10px 0;
}

.my-20 {
  margin: 20px 0;
}

.mx-10 {
  margin: 0 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-30 {
  margin-top: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-5 {
  margin-top: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-10 {
  margin-left: 10px;
}

.px-10 {
  padding: 0 10px;
}

.pr-10 {
  padding-right: 10px;
}

.pl-5 {
  padding-left: 5px;
}

.px-20 {
  padding: 0 20px;
}

/* Large screens ----------- */
@media only screen and (max-height: 768px) {
  /* Styles */
  .section__main {
    line-height: 1.5;
  }
  .section__main .section__home {
    margin: 38px auto 40px !important;
  }
  .section__main .section__home .section__title {
    font-size: 30px !important;
  }
  .section__main .section__home .section__title--sm {
    font-size: 20px !important;
  }
  .scroller.scroller-section--main {
    min-height: 80px !important;
  }
  .scroller.scroller-section--main.visible:hover {
    height: 90px !important;
  }
}

@media only screen and (min-width: 1824px) {
  /* Styles */
  .section__container {
    width: 1472px;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1472px) / 2)) + 40px);
  }
}

@media only screen and (max-width: 1824px) {
  /* Styles */
  .section__container {
    width: 1472px;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1472px) / 2)) + 40px);
  }
}

@media (max-width: 1600px) {
  .section__partners .section__line.line__bg {
    width: calc((100vw - 1216px) / 2 + 50px);
  }
  .partner__list--item {
    width: 198px !important;
    height: 198px !important;
  }
  .section__action .section__action--content .section__action--content--inner {
    max-width: 1216px;
  }
  .section__container {
    width: 1216px;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1216px) / 2)) + 40px);
  }
  .section__main .section__title {
    font-size: 50px;
  }
  .section__about .pseudo_line_bg {
    width: calc((100vw - 1216px) / 2 - 20px);
  }
  .idiom__title {
    width: 94%;
    margin: 0 auto;
  }
  .idiom__title .quotes {
    width: 80px;
    height: 80px;
  }
  .section__action--bg {
    width: calc(60% - (456px / 1.2));
  }
  .partner__section--asked-title-wrapper {
    margin: 180px auto;
  }
}

@media (max-width: 1350px) {
  .section__about {
    padding-bottom: 120px;
  }
  .partner__list--item {
    width: 196px !important;
    height: 196px !important;
    margin-left: 56px !important;
  }
  .partner__list--item:first-of-type {
    margin-left: 0 !important;
  }
  .partner__list--arrow {
    width: 70px !important;
    height: 70px !important;
  }
  .partner__list--arrow.arrow__left {
    right: 100% !important;
  }
  .partner__list--arrow.arrow__right {
    left: 100% !important;
  }
  .section__action--bg {
    width: calc(50% - (450px / 1.2)) !important;
  }
  .idiom__result--driven .idiom__title {
    font-size: 30px !important;
    padding: 20px 20px 30px;
  }
  .section__container {
    width: 1052px;
  }
  .section__action .section__action--content .section__action--content--inner {
    max-width: 1052px;
  }
  .section__about .pseudo_line_bg {
    width: calc((100vw - 1052px) / 2 - 20px);
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1052px) / 2)) + 40px);
  }
  .section__main .section__title {
    font-size: 50px;
    max-width: 1000px;
  }
  .partner__section--asked-title-wrapper {
    margin: 100px auto;
  }
  .section__about::before {
    opacity: 0.2;
  }
}

@media (max-width: 992px) {
  body,
  html {
    padding-bottom: 0;
  }
  .partner__list {
    width: 100% !important;
  }
  .section__footer .contact__form--title {
    font-size: 25px !important;
    padding: 50px 0 !important;
  }
  .section__footer .contact__form--grid {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__footer .section__socials {
    display: none !important;
  }
  .section__footer .copyright {
    margin-top: 100px !important;
  }
  .section__footer .contact__from--input-label-value {
    font-size: 20px !important;
    padding: 10px 0 20px !important;
  }
  .section__projects {
    margin-top: 100px;
  }
  .projects__touch--view .projects__touch-pagination {
    margin-bottom: 20px;
  }
  .projects__touch--view .swiper-slide .project__details--description-h2 {
    color: #0750e4;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 700;
  }
  .projects__touch--view .swiper-slide .project__details--description-title {
    text-align: left;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .projects__touch--view .swiper-slide .project__details--img {
    display: inline-block;
    width: 100%;
  }
  .projects__touch--view .swiper-slide .project__details--img img {
    max-width: 100%;
    height: auto;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .projects__touch--view .swiper-slide .project__details--description-list-nav .project__details--description-list {
    list-style: none;
    text-align: rigth;
    margin-top: 20px;
  }
  .projects__touch--view .swiper-slide .project__details--description-list-nav .project__details--description-list .project__details--description-list-item {
    text-align: left;
    line-height: 2;
    position: relative;
    margin-bottom: 6px;
    padding-left: 20px;
  }
  .projects__touch--view .swiper-slide .project__details--description-list-nav .project__details--description-list .project__details--description-list-item::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .header__nav {
    display: none;
  }
  .header .header__menu--sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section__action {
    display: none;
  }
  .section__main .section__socials {
    display: none;
  }
  .section__main {
    line-height: 1.5;
  }
  .section__main .section__home {
    margin: 38px auto 80px !important;
  }
  .section__main .section__home .section__title {
    font-size: 30px !important;
  }
  .section__main .section__home .section__title--sm {
    font-size: 20px !important;
  }
  .section__container {
    width: 88%;
    overflow: hidden;
  }
  .section__services {
    padding-top: 60px;
  }
  .service__container .service__description--title {
    font-size: 30px !important;
  }
  .service__container .service__description--content {
    height: auto;
  }
  .standart__btn-wrapper.hire_us {
    text-align: center;
  }
  .under_about .idiom {
    display: block;
    padding-bottom: 65px;
    line-height: 1.6;
  }
  .under_about .idiom .idiom__txt {
    font-size: 40px;
    display: block;
    text-align: center;
  }
  .under_about .under_about--title {
    font-size: 40px;
  }
  .under_about .under_about--title-secondary {
    padding: 60px 0;
    line-height: 1.5;
    cursor: pointer;
  }
  .under_about .under_about--title-secondary:hover .title__secondary--txt::after {
    top: -10px;
  }
  .under_about .under_about--title-secondary .title__secondary--txt {
    font-size: 20px;
  }
  .under_about .under_about--title-secondary .title__secondary--txt::after {
    background: none;
  }
  .idiom__result--driven {
    margin-top: 50px;
    height: 360px;
  }
  .idiom__result--driven .section__container {
    overflow: inherit;
  }
  .idiom__result--driven .idiom__title {
    font-size: 23px !important;
    padding: 20px 31px 20px;
    line-height: 1.4;
  }
  .idiom__result--driven .idiom__title .quotes {
    position: absolute;
    width: 40px;
    height: 40px;
  }
  .idiom__result--driven .idiom__answer {
    max-width: 96%;
    margin: 30px auto;
    font-size: 18px;
    line-height: 1.5;
  }
  .idiom__result--driven .idiom__answer::after {
    right: 100%;
    top: 10px;
    width: 24px;
  }
  .section__about {
    margin-top: 0;
    padding: 0 0 40px;
  }
  .section__about::before {
    opacity: 0.1;
  }
  .section__about .section__two--secondary-title,
  .section__about .section__two--primery-title,
  .section__about .section__two--tertiary-title {
    padding-bottom: 10px;
    line-height: 1.5;
    text-align: center;
  }
  .section__about .section__two--txt-content {
    width: 100%;
  }
  .section__about .pseudo_line_bg {
    display: none;
  }
  .section__container.part_two {
    padding-top: 30px !important;
  }
  .section__container.part_two .services--title {
    font-size: 40px;
    line-height: 1.1;
  }
  .section__container:hover .line__hover {
    opacity: 1;
    background-color: red;
  }
  .section__container.part_three {
    margin-top: 39px !important;
    background-color: #0750e4;
    height: auto !important;
    padding: 0;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: none;
    transition: none;
    font-size: 20px !important;
    cursor: pointer;
  }
  .section__container.part_three:hover {
    width: inherit !important;
    max-width: none !important;
  }
  .section__container.part_three .inner__section--container-content {
    width: auto !important;
    padding: 30px !important;
    font-size: 20px !important;
  }
  .section__container.part_three .line__hover,
  .section__container.part_three .pseudo__arrow {
    display: none !important;
  }
  .mobile-view,
  .mobile-view--wrapper {
    display: block;
    margin-top: 20px;
  }
  .desktop__version {
    display: none;
  }
  .hide-sm {
    display: none;
  }
  .services_content_wrapper {
    position: relative;
    margin-top: 30px;
  }
  .services_content_wrapper .services_content_wrapper_bg {
    border: none;
  }
  .services_content_wrapper .service__img {
    margin: 0 auto;
    width: 100%;
    max-width: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
  .services_content_wrapper .service__img img {
    width: 70%;
    display: block;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .section__partners {
    margin-top: 70px;
    position: relative;
  }
  .section__partners .section__line {
    display: none;
  }
  .section__partners--title {
    font-size: 25px !important;
    line-height: 1.3 !important;
  }
}

@media (max-width: 768px) {
  .service__description--content {
    height: auto;
    text-align: initial;
  }
  .services_content_wrapper .services_content_wrapper_bg {
    border: none;
  }
  .services_content_wrapper .service__img {
    margin: 0 auto 30px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services_content_wrapper .service__img img {
    overflow: hidden;
    width: 100%;
    height: auto;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .idiom__result--driven {
    margin-top: 50px;
    height: 250px;
  }
  .idiom__result--driven .section__container {
    overflow: inherit;
  }
  .idiom__result--driven .idiom__title {
    font-size: 18px !important;
  }
  .idiom__result--driven .idiom__title .quotes {
    width: 20px;
    height: 20px;
  }
  .idiom__result--driven .idiom__answer {
    margin: 10px auto;
    font-size: 16px;
  }
  .idiom__result--driven .idiom__answer::after {
    top: 10px;
    width: 18px;
  }
  .section__services .service__container .service__description--title {
    font-size: 25px !important;
    line-height: 1.3;
  }
  .section__services .service__container .service__description--content {
    height: auto;
  }
  .section__partners .section__partners--secondary-title-box .section__partners--secondary-title-part-one {
    line-height: 1.3;
  }
  .section__partners .section__partners--secondary-title-box .section__partners--secondary-title-part-two {
    line-height: 1.3;
  }
  .section__footer {
    margin-top: 50px;
  }
}

@media (max-width: 576px) {
  .section__footer .contact__form--grid--inputs-box {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    gap: 20px;
  }
}
