.section__services {
  padding-top: 100px;
}

.section__services--title {
  display: block;
  text-align: center;
  position: relative;
}

.section__services--title .section__services--title-txt {
  display: inline-block;
  height: 30px;
  text-transform: capitalize;
  color: #949494;
  font-size: 30px;
  font-weight: 700;
  background-color: #fff;
  line-height: 30px;
  padding: 0 6px;
  z-index: 2;
  position: relative;
}

.section__services--title .section__services--title-bg {
  width: 88%;
  position: absolute;
  height: 2px;
  left: 12%;
  top: 50%;
  background-color: rgba(42, 42, 42, 0.1);
}

.section__services--title .section__services--title-bg .title__backgroundg--rounded-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border: 2px solid rgba(42, 42, 42, 0.1);
  position: absolute;
  left: 0;
  top: -4px;
  border-radius: 50%;
}

.services_content_wrapper {
  position: relative;
  margin-top: 90px;
  height: 626px;
}

.services_content_wrapper .section__container {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 100%;
}

.services_content_wrapper .services__navigation {
  width: 100%;
  position: absolute;
  bottom: calc(100% - 54px);
}

.services_content_wrapper .services__navigation .services__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services_content_wrapper .services__navigation .services__list .services__list--item {
  height: 108px;
  width: 108px;
  position: relative;
}

.services_content_wrapper .services__navigation .services__list .services__list--item:hover .services__list--item-content, .services_content_wrapper .services__navigation .services__list .services__list--item.item__active .services__list--item-content {
  background-color: #0750e4;
  border: #0750e4;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.consulting:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/consulting_icon_white.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.develope:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/hover/code.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.achitecture:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/hover/ruler-pencil.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.qa:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/hover/badge.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.audit:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/hover/icon_audit.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.launch:hover .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/hover/rocket.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.consulting .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/consulting_icon_white.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.develope .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/code.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.achitecture .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/ruler-pencil.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.qa .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/badge.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.audit .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/icon_audit.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.launch .services__list--item-content {
  background-image: url(../assets/exported_assets/icons/rocket_default.svg);
}

.services_content_wrapper .services__navigation .services__list .services__list--item.item__active .services__list--item-txt {
  display: none;
}

.services_content_wrapper .services__navigation .services__list .services__list--item .services__list--item-content {
  border: 2px solid #e9e9e9;
  border-radius: 50%;
  width: 108px;
  height: 108px;
  -webkit-transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out, background-color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: #fff url(../assets/exported_assets/icons/icon_question_ideas.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.services_content_wrapper .services__navigation .services__list .services__list--item .services__list--item-txt {
  position: absolute;
  top: calc(100% + 24px);
  width: 152px;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 18px;
  line-height: 1.6;
}

.services_content_wrapper .service__container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 460px;
  overflow: hidden;
  width: 100%;
  top: 186px;
}

.services_content_wrapper .service__container .service__description {
  width: calc(100% - 730px);
  height: 100%;
}

.services_content_wrapper .service__container .service__description .service__description--title {
  font-size: 50px;
  font-weight: bold;
  color: #0750e4;
  padding-bottom: 34px;
}

.services_content_wrapper .service__container .service__description .service__description--content {
  line-height: 1.6;
  font-size: 16px;
  color: #545454;
  width: 604px;
}

.services_content_wrapper .service__container .service__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 728px;
  height: 100%;
}

.services_content_wrapper_bg {
  border: 2px solid rgba(42, 42, 42, 0.1);
  position: absolute;
  height: 100%;
  width: calc((100vw - ((100vw - 1472px) / 2)) + 40px);
}

.services_content_wrapper_bg::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border: 2px solid rgba(42, 42, 42, 0.1);
  border-radius: 50%;
  top: -5px;
  right: -6px;
}

.section__services .section__container.part_two {
  padding-top: 270px;
}

.section__services .section__container:hover .line__hover {
  opacity: 1;
  background-color: red;
}

.section__services .section__container.part_three {
  margin-top: 64px;
  background-color: #0750e4;
  height: 288px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.section__services .section__container.part_three:hover {
  width: 100%;
  max-width: 100%;
}

.section__services .section__container.part_three .inner__section--container {
  width: 1472px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section__services .section__container.part_three .inner__section--container .inner__section--container-content {
  font-size: 25px;
  position: relative;
  color: #fff;
  width: 716px;
  line-height: 1.8;
  padding-left: 120px;
}

.section__services .section__container.part_three .inner__section--container .inner__section--container-content .line__hover {
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 22px;
  background-color: white;
  width: 40px;
  height: 3px;
  opacity: 1;
}

.section__services .section__container.part_three .inner__section--container .inner__section--container-content .pseudo__arrow {
  display: inline-block;
  position: absolute;
  left: calc(100% + 10px);
  bottom: -12px;
  opacity: 1;
}

.section__services .section__container.part_three .inner__section--container .inner__section--container-content .pseudo__arrow img {
  height: 52px;
}

.section__services .section__container .services--title {
  color: #3e3e3e;
  font-size: 50px;
  font-weight: bold;
}

.idiom__result--driven {
  width: 100%;
  height: 560px;
  position: relative;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.idiom__result--driven::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: url(../assets/exported_assets/background_photos/igo-mid-winter-conference-network.png) no-repeat center center;
  opacity: 0.1;
}

.idiom__result--driven .idiom__title {
  font-size: 40px;
  font-weight: bold;
  color: #0750e4;
  padding-bottom: 36px;
  position: relative;
  padding: 20px 50px 40px 50px;
}

.idiom__result--driven .idiom__title .quotes {
  position: absolute;
  width: 86px;
  height: 86px;
}

.idiom__result--driven .idiom__title .quotes.quotes_start {
  bottom: 100%;
  right: 100%;
  background: url(../assets/exported_assets/icons/quotes_start.svg) no-repeat center center;
}

.idiom__result--driven .idiom__title .quotes.quotes_end {
  top: 100%;
  left: 100%;
  background: url(../assets/exported_assets/icons/quoutes_end.svg) no-repeat center center;
}

.idiom__result--driven .idiom__answer {
  font-size: 20px;
  color: #2A2A2A;
  position: relative;
}

.idiom__result--driven .idiom__answer::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 2px;
  right: calc(100% + 10px);
  top: 50%;
  background-color: #2A2A2A;
}
