* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.main-section {
  position: relative;
  height: 90vh;
  background: url(../assets/exported_assets/background_photos/Rectangle319.png) no-repeat center center;
}

.main-section::after {
  content: '';
  width: 100%;
  top: 100px;
  left: 0;
  height: calc(90vh - $header_height);
  position: absolute;
  z-index: 1;
  background: transparent -webkit-gradient(linear, right top, left top, from(#000000), to(#00000000)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(270deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.3;
}

.head__wrapper {
  width: 100%;
  background: transparent -webkit-gradient(linear, left top, right top, from(#00000000), to(#00000030)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(90deg, #00000000 0%, #00000030 100%) 0% 0% no-repeat padding-box;
}

.header {
  width: calc(100% - 60px);
  height: 100px;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .brand {
  height: 64%;
}

.header .brand .brand__img {
  max-height: 100%;
}

.header .header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header__menu ul li {
  margin-left: 33.33333px;
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  height: 70px;
  width: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid transparent;
  cursor: pointer;
}

.header .header__menu ul li:hover {
  border: 2px solid #fff;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
}

.header .header__menu--sm {
  display: none;
}
/*# sourceMappingURL=main.css.map */