@import 'reset';
@import 'variables';
@import 'fonts';

body,
html {
  font-family: 'Montserrat';
  padding-bottom: 300px;
}

.standart-btn {
  color: $white;
  background-color: $main_blue;
  text-transform: uppercase;
  font-size: $h8_fs;
  border: none;
  outline: none;
  cursor: pointer;
}

.section__container {
  // max-width: $content_max_width_xlg;
  width: $content_max_width_xlg;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

section {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

@import 'section_home';

@import 'section_about';

@import 'section_under_about';

@import 'section_services';

@import 'section_partners';

@import 'section_projects';

@import 'section_footer';


