@import 'variables';
@import 'ready-classes';

/* Large screens ----------- */

@media only screen and (max-height: 768px) {
  /* Styles */

  .section__main {
    line-height: $standart_line_height;

    .section__home {
      margin: 38px auto 80px !important;
      .section__title {
        font-size: $h5_fs !important;
      }
      .section__title--sm {
        font-size: $h7_fs !important;
      }
    }
  }

  .scroller.scroller-section--main {
    min-height: 100px !important;

    &.visible:hover {
      height: 140px !important;
    }
  }
}

@media only screen and (min-width: 1824px) {
  /* Styles */
  .section__container {
    width: $content_max_width_xlg;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1472px) / 2)) + 40px);
  }
}

@media only screen and (max-width: 1824px) {
  /* Styles */
  .section__container {
    width: $content_max_width_xlg;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1472px) / 2)) + 40px);
  }
}

@media (max-width: 1500px) {
  .section__partners {
    .section__line {
      &.line__bg {
        width: calc((100vw - 1200px) / 2 + 10px);
      }
    }
  }

  .section__action {
    .section__action--content {
      .section__action--content--inner {
        max-width: $content_max_width_lg;
      }
    }
  }

  .section__container {
    width: $content_max_width_lg;
  }
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1200px) / 2)) + 40px);
  }
  .section__main {
    .section__title {
      font-size: $h1_fs - 10;
    }
  }

  .section__about {
    .pseudo_line_bg {
      width: calc((100vw - 1200px) / 2 - 20px);
    }
  }

  .section__action--bg {
    width: calc(60% - (456px / 1.2));
  }

  .partner__section--asked-title-wrapper {
    margin: 180px auto;
  }
}

@media (max-width: 1300px) {
  .section__action--bg {
    width: calc(50% - (450px / 1.2)) !important;
  }

  .idiom__result--driven {
    .idiom__title {
      font-size: $h5_fs !important;
      padding: 20px 20px 30px;
    }
  }

  .section__container {
    width: $content_max_width_lg_hd;
  }

  .section__action {
    .section__action--content {
      .section__action--content--inner {
        max-width: $content_max_width_lg_hd;
      }
    }
  }

  .section__about {
    .pseudo_line_bg {
      width: calc((100vw - 1052px) / 2 - 20px);
    }
  }

  // h:
  .services_content_wrapper_bg {
    width: calc((100vw - ((100vw - 1052px) / 2)) + 40px);
  }

  .section__main {
    .section__title {
      font-size: $h1_fs - 10;
      max-width: 1000px;
    }
  }

  .partner__section--asked-title-wrapper {
    margin: 100px auto;
  }

  .section__about::before {
    opacity: 0.2;
  }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
  body,
  html {
    padding-bottom: 0;
  }

  .section__footer {
    .contact__form--title {
      font-size: $h6_fs !important;
      padding: 50px 0 !important;
    }
    .contact__form--grid {
      grid-template-columns: 1fr !important;
      gap: 30px;
      justify-content: center;
    }
    .section__socials {
      display: none !important;
    }

    .copyright {
      margin-top: 100px !important;
    }
    .contact__from--input-label-value {
      font-size: $h7_fs !important;
      padding: 10px 0 20px !important;
    }
  }

  .projects__touch--view {
    .projects__touch-pagination {
      margin-bottom: 20px;
    }
    .swiper-slide {
      .project__details--description-h2 {
        color: $main_blue;
        font-size: $h6_fs;
        margin-bottom: 20px;
        font-weight: 700;
      }
      .project__details--description-title {
        text-align: left;
        line-height: $standart_line_height;
        margin-bottom: 20px;
      }

      .project__details--img {
        display: inline-block;
        width: 100%;
        img {
          width: 90%;
          height: auto;
          border-radius: 5px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
            0 6px 6px rgba(0, 0, 0, 0.23);
        }
      }
      .project__details--description-list-nav {
        .project__details--description-list {
          list-style: none;

          text-align: rigth;
          margin-top: 20px;
          .project__details--description-list-item {
            text-align: left;
            line-height: 2;
            position: relative;
            margin-bottom: 6px;
            padding-left: 20px;
            &::before {
              content: '';
              width: 8px;
              height: 8px;
              position: absolute;
              left: 0;
              top: 10px;
              border-radius: 50%;
              background-color: rgba(0, 0, 0, 0.7);
            }
          }
        }
      }
    }
  }

  .header__nav {
    display: none;
  }

  .header {
    .header__menu--sm {
      display: flex;
    }
  }

  .section__action {
    display: none;
  }
  .section__main {
    .section__socials {
      display: none;
    }
  }

  .section__main {
    line-height: $standart_line_height;

    .section__home {
      margin: 38px auto 80px !important;
      .section__title {
        font-size: $h5_fs !important;
      }
      .section__title--sm {
        font-size: $h7_fs !important;
      }
    }
  }

  .section__container {
    width: 88%;
    overflow: hidden;
  }

  .section__services {
    padding-top: 60px;
  }

  .service__container {
    .service__description--title {
      font-size: $h5_fs !important;
    }

    .service__description--content {
      height: auto;
    }
  }

  .standart__btn-wrapper.hire_us {
    text-align: center;
  }
  .under_about {
    .idiom {
      display: block;
      padding-bottom: 65px;
      line-height: 1.6;
      .idiom__txt {
        font-size: 40px;
        display: block;
        text-align: center;
      }
    }
    .under_about--title {
      font-size: 40px;
    }

    .under_about--title-secondary {
      padding: 60px 0;
      line-height: $standart_line_height;
      cursor: pointer;
      &:hover {
        .title__secondary--txt::after {
          top: -10px;
        }
      }

      .title__secondary--txt {
        font-size: $h7_fs;
      }
      .title__secondary--txt::after {
        background: none;
      }
    }
  }

  .idiom__result--driven {
    margin-top: 50px;
    height: 360px;
    .section__container {
      overflow: inherit;
    }
    .idiom__title {
      font-size: 23px !important;
      padding: 20px 31px 20px;
      line-height: 1.4;
      .quotes {
        position: absolute;
        width: 40px;
        height: 40px;
      }
    }
    .idiom__answer {
      max-width: 96%;
      margin: 30px auto;
      font-size: $h8_fs;
      line-height: 1.5;
      &::after {
        right: 100%;
        top: 10px;
        width: 24px;
      }
    }
  }

  .section__about {
    margin-top: 0;
    &::before {
      opacity: 0.1;
    }
    padding: 0 0 40px;

    .section__two--secondary-title,
    .section__two--primery-title,
    .section__two--tertiary-title {
      padding-bottom: 10px;
      line-height: $standart_line_height;
      text-align: center;
    }

    .section__two--txt-content {
      width: 100%;
    }
    .pseudo_line_bg {
      display: none;
    }
  }

  .section__container {
    &.part_two {
      padding-top: $standart_padding !important;
      .services--title {
        font-size: $h4_fs;
        line-height: $standart_line_height - 0.4;
      }
    }
    &:hover {
      .line__hover {
        opacity: 1;
        background-color: red;
      }
    }
    &.part_three {
      margin-top: $standart_padding * 1.3 !important;
      background-color: $main_blue;
      height: auto !important;
      padding: 0;
      display: flex !important;
      justify-content: center;
      border-radius: 5px;
      transition: none;
      font-size: $h7_fs !important;
      cursor: pointer;
      &:hover {
        width: inherit !important;
        max-width: none !important;
        // pointer-events: none;
      }
      .inner__section--container-content {
        width: auto !important;
        padding: 30px !important;
        font-size: $h7_fs !important;
      }
      .line__hover,
      .pseudo__arrow {
        display: none !important;
      }
    }
  }

  .mobile-view,
  .mobile-view--wrapper {
    display: block;
    margin-top: 20px;
  }

  .desktop__version {
    display: none;
  }

  .hide-sm {
    display: none;
  }

  .services_content_wrapper {
    .services_content_wrapper_bg {
      border: none;
    }

    position: relative;
    margin-top: $standart_padding;
    .service__img {
      margin: 0 auto;
      width: 84%;
      max-width: none;
      justify-content: center;
      margin-bottom: 20px;
      img {
        width: 70%;
        display: block;
        border-radius: 5px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
          0 6px 6px rgba(0, 0, 0, 0.23);
      }
    }
  }

  .section__partners {
    margin-top: 70px;
    position: relative;
    .section__line {
      display: none;
    }
  }
  .section__partners--title {
    font-size: $h6_fs !important;
    line-height: $standart_line_height - 0.2 !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .service__description--content {
    height: auto;
    text-align: initial;
  }

  .services_content_wrapper {
    .services_content_wrapper_bg {
      border: none;
    }

    .service__img {
      margin: 0 auto 30px;
      width: 94%;
      justify-content: center;
      img {
        overflow: hidden;
        width: 100%;
        height: auto;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }
    }
  }

  .idiom__result--driven {
    margin-top: 50px;
    height: 250px;
    .section__container {
      overflow: inherit;
    }
    .idiom__title {
      font-size: $h8_fs !important;
      // padding: 20px 31px 20px;
      // line-height: 1.4;
      .quotes {
        // position: absolute;
        width: 20px;
        height: 20px;
      }
    }
    .idiom__answer {
      margin: 10px auto;
      font-size: $h9_fs;
      &::after {
        top: 10px;
        width: 18px;
      }
    }
  }

  .section__services {
    .service__container {
      .service__description--title {
        font-size: $h6_fs !important;
        line-height: $standart_line_height - 0.2;
      }

      .service__description--content {
        height: auto;
      }
    }
  }

  .section__partners {
    .section__partners--secondary-title-box {
      .section__partners--secondary-title-part-one {
        line-height: $standart_line_height - 0.2;
      }
      .section__partners--secondary-title-part-two {
        line-height: $standart_line_height - 0.2;
      }
    }
  }

  .section__footer {
    margin-top: 50px;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 576px) {
  .section__footer {
    .contact__form--grid--inputs-box {
      grid-template-columns: 1fr !important;
      gap: 20px;
    }
  }
}
