@import 'variables';
.section__about {
  padding-top: 120px;
  margin: 0 auto;
  position: relative;
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background: transparent
      url(../assets/exported_assets/background_photos/about_page_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-origin: padding-box;
  }

  .section__two--secondary-title {
    color: $main_blue_lighter;
    font-size: $h7_fs;
    font-weight: 700;
    padding-bottom: 90px;
  }
  .section__two--primery-title {
    color: $txt_color;
    font-size: $h5_fs;
    font-weight: 700;
    padding-bottom: 30px;
  }
  .section__two--txt-content {
    color: $txt_content_color;
    font-size: $h9_fs;
    width: 880px;
    line-height: $standart_line_height;
    .section__two--seperator {
      height: 2px;
      padding-bottom: 30px;
    }
  }
  .section__two--tertiary-title {
    color: $txt_color;
    font-size: $h8_fs;
    padding: 46px 4px 80px;
    font-weight: 700;
  }
  .standart-btn {
    padding: 20px 136px;
  }
}
