@import 'variables';

.under_about{

  padding-bottom: 100px;
}

.idiom {
  display: flex;
  flex-direction: column;
  padding-bottom: 45px;
  &:hover {
    .idiom__txt--impact-segment {
      transform: rotate(-15deg);
      color: $main_blue;
      -webkit-text-fill-color: $main_blue;
    }
  }
 
  .idiom__txt {
    text-transform: capitalize;
    font-size: $h2_fs;
    font-weight: 700;
    color: $main_blue;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $main_blue;
    &.idiom__txt--part-two {
      display: flex;
      justify-content: flex-end;
      line-height: $standart_line_height;
      .idiom__txt--impact-segment{
        transition: transform .3s ease-in-out,
                    text-fill-color .3s ease-in-out;
        padding-right: 14px;
        display: inline-block;
      }
    }
  }
}

.under_about--title {
  padding: 120px 0 76px;
  font-size: $h3_fs;
  font-weight: bold;
  color: $txt_color;
  line-height: $standart_line_height;
  text-transform: capitalize;
  text-align: center;
}

.under_about--title-secondary {
  padding: 20px 0;
  display: block;
  text-align: center;
  cursor: pointer;

  &:hover {
    .title__secondary--txt::after {
      top: 100px;
    }
  }

  .title__secondary--txt {
    position: relative;
    display: inline-block;
    font-size: $h6_fs;
    color: $main_blue;
    text-decoration: underline;
    text-transform: capitalize;

    &::after {
      content: '';
      position: absolute;
      width: 52px;
      height: 52px;
      transform: rotate(90deg);
      transition: top 0.4s ease 0s;
      left: calc(100% + 8px);
      top: -10px;
      background: url(../assets/exported_assets/icons/arrow_blue.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
