@import 'variables';

.idiom {
  display: flex;
  flex-direction: column;
  padding-bottom: 165px;
  .idiom__txt {
    text-transform: capitalize;
    font-size: $h2_fs;
    font-weight: 700;
    color: transparent;
    stroke-width: 1px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #0750e4;
    &.idiom__txt--part-two {
      display: flex;
      justify-content: flex-end;
      line-height: $standart_line_height * 1.6;
    }
  }
}

.under_about--title {
  font-size: $h3_fs;
  font-weight: bold;
  color: $txt_color;
  text-transform: capitalize;
  text-align: center;
}

.under_about--title-secondary {
  padding: 76px 0 120px 0;
  display: block;
  text-align: center;
  cursor: pointer;

  &:hover {
    .title__secondary--txt::after {
      top: 100px;
    }
  }

  .title__secondary--txt {
    position: relative;
    display: inline-block;
    font-size: $h6_fs;
    color: $main_blue;
    text-decoration: underline;
    text-transform: capitalize;

    &::after {
      content: '';
      position: absolute;
      width: 52px;
      height: 52px;
      transform: rotate(90deg);
      transition: top 0.4s ease 0s;
      left: calc(100% + 8px);
      top: -10px;
      background: url(../assets/exported_assets/icons/arrow_blue.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}
