@import 'variables';

.section__projects {
  padding-top: 100px;
}

.section__projects--title {
  display: block;
  text-align: center;
  position: relative;
  .section__projects--title-txt {
    display: inline-block;
    height: 30px;
    text-transform: capitalize;
    color: #949494;
    font-size: $h5_fs;
    font-weight: 700;
    background-color: #fff;
    line-height: 30px;
    padding: 0 6px;
    z-index: 2;
    position: relative;
  }
  .section__projects--title-bg {
    width: 88%;
    position: absolute;
    height: 2px;
    left: 12%;
    top: 50%;
    background-color: rgba(42, 42, 42, 0.1);
    .title__backgroundg--rounded-bullet {
      width: 8px;
      height: 8px;
      background-color: #fff;
      border: 2px solid rgba(42, 42, 42, 0.1);
      position: absolute;
      left: 0;
      top: -3px;
      border-radius: 50%;
    }
  }
}

.projects {
  position: relative;
  &::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #fff;
    border: 2px solid rgba(42, 42, 42, 0.1);
    position: absolute;
    left: calc((100vw - ((100vw - 1472px) / 2)));
    position: absolute;
    top: 35px;
    border-radius: 50%;
  }
  &::before {
    content: '';
    width: calc((100vw - ((100vw - 1472px) / 2)));
    position: absolute;
    height: 2px;
    left: 0;
    top: 39px;
    background-color: rgba(42, 42, 42, 0.1);
  }
  margin-top: 100px;
  .projects__lists {
    display: flex;
    justify-content: center;
    .project_item {
      padding: 4px 6px;
      margin: 0 46px;
      font-size: $h5_fs;
      font-weight: bold;
      cursor: pointer;
      color: $txt_color;
      border-bottom: 4px solid transparent;
      transition: color 0.25s ease-in-out, border-bottom 0.25s ease-in-out;
      &:hover,
      &.active {
        color: $main_blue;
        border-bottom: 4px solid $main_blue;
      }
    }
  }
  padding-bottom: 40px;
}

.project__details--box {
  display: none;
  &.active {
    display: grid;
  }
  .project__details {
    .project__details--img {
      img {
        max-width: 100%;
      }
    }
  }
  grid-template-columns: 1fr 1fr;
  gap: 46px;
}

.project__details--description {
  .project__details--description-title {
    font-size: 20px;
    color: #0750e4;
    line-height: $standart_line_height;
    padding: 0 14px 30px 14px;
    font-weight: 700;
  }
  .project__details--description-list-nav {
    .project__details--description-list {
      list-style: disc;
      .project__details--description-list-item {
        color: #545454;
        padding-bottom: 16px;
        text-transform: capitalize;
        line-height: $standart_line_height;
      }
    }
  }
}

// #0750E4
