$h1_fs: 60px;
$h2_fs: 50px;
$h3_fs: 45px;
$h4_fs: 40px;
$h5_fs: 30px;
$h6_fs: 25px;
$h7_fs: 20px;
$h8_fs: 18px;
$h9_fs: 16px;

$header_height: 100px;
$header_menu_font_color: #fff;

$header_menu_bg_color: #0750e4;
// full HD
$content_max_width_xlg: 1472px;
// HD
$content_max_width_lg: 1052px;
// $content-max-width: 84%;
$white: #ffffff;
$main_blue: #0750e4;

$header_menu_item_default_height: 68px; 
$header_menu_item_default_width: 68px;

$header_menu_item_hover_height: 88px;
$header_menu_item_hover_width: 88px;

$social_icon_size: 54px; 