$h1_fs: 60px;
$h2_fs: 50px;
$h3_fs: 45px;
$h4_fs: 40px;
$h5_fs: 30px;
$h6_fs: 25px;
$h7_fs: 20px;
$h8_fs: 18px;
$h9_fs: 16px;

$header_height: 100px;
$header_menu_font_color: #fff;

$header_menu_bg_color: #0750e4;

$standart_line_height: 1.5;

// full HD
$content_max_width_xlg: 1472px;

// 
$content_max_width_lg: 88%;

// hd
$content_max_width_lg_hd: 1052px;

// $content_max_width_xlg_half: 1472px;
// HD

// $content-max-width: 84%;
$white: rgba(255,255,255, 1);
$white_light: rgba(255,255,255, 0.9);
$white_lighter: rgba(255,255,255, 0.5);

$main_blue: rgba(7,80,228,1);
$main_blue_light: rgba(7,80,228, .8);
$main_blue_lighter: rgba(7,80,228, .5);


$header_menu_item_default_height: 68px; 
$header_menu_item_default_width: 68px;

$header_menu_item_hover_height: 88px;
$header_menu_item_hover_width: 88px;

$social_icon_size: 54px; 

$txt_color: #2A2A2A;
$txt_content_color: #545454;

$standart_padding: 30px;

$services_content_wrapper_hull_hd_heigth: 626px; 

$services_icon_box_size: 108px;
$services_icon_box_size_half: 54px;
$services_icon_box_size_deafault: 108px;


